<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" style="color: #e7bb41;" href="#">Bibliotheque</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href={{path("book_listing")}}>Accueil
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{path("book_listing")}}>Listes Livres</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href={{path("client_listing")}}>Listes clients</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Emprunts</a>
			</li>
		</ul>
	</div>
</nav>
